# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript build cache
tsconfig.tsbuildinfo

# Vercel
.vercel

# Env files (ne jamais commit les clés !)
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
